<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/ShirishRam/" target="_blank">@ShirishRam</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/shirish-ramchandran/" target="_blank">linkedin.com/in/shirish-ramchandran</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:shirish.ramchandran@gmail.com" target="_blank">shirish.ramchandran@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:+919158999636" target="_blank">+91-9158999636</a></p>
